--
-- PostgreSQL database dump
--

\restrict J7QbzAq3f0qaDRln72wN7VcjqBtxGZXXLZJ5pPowFBwnu0XDAVGJ2tciYwS2GZc

-- Dumped from database version 17.2 (Debian 17.2-1.pgdg110+1)
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: administrator; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA administrator;


ALTER SCHEMA administrator OWNER TO postgres;

--
-- Name: authentication; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA authentication;


ALTER SCHEMA authentication OWNER TO postgres;

--
-- Name: billing; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA billing;


ALTER SCHEMA billing OWNER TO postgres;

--
-- Name: catalog; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA catalog;


ALTER SCHEMA catalog OWNER TO postgres;

--
-- Name: communication; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA communication;


ALTER SCHEMA communication OWNER TO postgres;

--
-- Name: consumer; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA consumer;


ALTER SCHEMA consumer OWNER TO postgres;

--
-- Name: logistics; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA logistics;


ALTER SCHEMA logistics OWNER TO postgres;

--
-- Name: orders; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA orders;


ALTER SCHEMA orders OWNER TO postgres;

--
-- Name: partner; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA partner;


ALTER SCHEMA partner OWNER TO postgres;

--
-- Name: report; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA report;


ALTER SCHEMA report OWNER TO postgres;

--
-- Name: reputation; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA reputation;


ALTER SCHEMA reputation OWNER TO postgres;

--
-- Name: cube; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS cube WITH SCHEMA logistics;


--
-- Name: EXTENSION cube; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION cube IS 'data type for multidimensional cubes';


--
-- Name: earthdistance; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS earthdistance WITH SCHEMA logistics;


--
-- Name: EXTENSION earthdistance; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION earthdistance IS 'calculate great-circle distances on the surface of the Earth';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA logistics;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: unaccent; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS unaccent WITH SCHEMA public;


--
-- Name: EXTENSION unaccent; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION unaccent IS 'text search dictionary that removes accents';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA authentication;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: earth; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.earth AS logistics.cube
	CONSTRAINT not_3d CHECK ((logistics.cube_dim(VALUE) <= 3))
	CONSTRAINT not_point CHECK (logistics.cube_is_point(VALUE))
	CONSTRAINT on_surface CHECK ((abs(((logistics.cube_distance(VALUE, '(0)'::logistics.cube) / logistics.earth()) - '1'::double precision)) < '1e-06'::double precision));


ALTER DOMAIN public.earth OWNER TO postgres;

--
-- Name: uuid_generate_v4(); Type: FUNCTION; Schema: billing; Owner: postgres
--

CREATE FUNCTION billing.uuid_generate_v4() RETURNS uuid
    LANGUAGE c STRICT PARALLEL SAFE
    AS '$libdir/uuid-ossp', 'uuid_generate_v4';


ALTER FUNCTION billing.uuid_generate_v4() OWNER TO postgres;

--
-- Name: uuid_generate_v4(); Type: FUNCTION; Schema: catalog; Owner: postgres
--

CREATE FUNCTION catalog.uuid_generate_v4() RETURNS uuid
    LANGUAGE c STRICT PARALLEL SAFE
    AS '$libdir/uuid-ossp', 'uuid_generate_v4';


ALTER FUNCTION catalog.uuid_generate_v4() OWNER TO postgres;

--
-- Name: distancia_km(numeric, numeric, numeric, numeric); Type: FUNCTION; Schema: logistics; Owner: postgres
--

CREATE FUNCTION logistics.distancia_km(lat1 numeric, lng1 numeric, lat2 numeric, lng2 numeric) RETURNS double precision
    LANGUAGE sql IMMUTABLE
    AS $_$
    SELECT 6371 * acos(
        sin( radians($1) ) * sin( radians( $3 ))
          + cos( radians($1) ) * cos( radians( $3 )) * cos(radians($4) - radians($2))  )
    as distance;
$_$;


ALTER FUNCTION logistics.distancia_km(lat1 numeric, lng1 numeric, lat2 numeric, lng2 numeric) OWNER TO postgres;

--
-- Name: uuid_generate_v4(); Type: FUNCTION; Schema: orders; Owner: postgres
--

CREATE FUNCTION orders.uuid_generate_v4() RETURNS uuid
    LANGUAGE c STRICT PARALLEL SAFE
    AS '$libdir/uuid-ossp', 'uuid_generate_v4';


ALTER FUNCTION orders.uuid_generate_v4() OWNER TO postgres;

--
-- Name: uuid_generate_v4(); Type: FUNCTION; Schema: partner; Owner: postgres
--

CREATE FUNCTION partner.uuid_generate_v4() RETURNS uuid
    LANGUAGE c STRICT PARALLEL SAFE
    AS '$libdir/uuid-ossp', 'uuid_generate_v4';


ALTER FUNCTION partner.uuid_generate_v4() OWNER TO postgres;

--
-- Name: uuid_generate_v4(); Type: FUNCTION; Schema: report; Owner: postgres
--

CREATE FUNCTION report.uuid_generate_v4() RETURNS uuid
    LANGUAGE c STRICT PARALLEL SAFE
    AS '$libdir/uuid-ossp', 'uuid_generate_v4';


ALTER FUNCTION report.uuid_generate_v4() OWNER TO postgres;

--
-- Name: uuid_generate_v4(); Type: FUNCTION; Schema: reputation; Owner: postgres
--

CREATE FUNCTION reputation.uuid_generate_v4() RETURNS uuid
    LANGUAGE c STRICT PARALLEL SAFE
    AS '$libdir/uuid-ossp', 'uuid_generate_v4';


ALTER FUNCTION reputation.uuid_generate_v4() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: administrator; Type: TABLE; Schema: administrator; Owner: postgres
--

CREATE TABLE administrator.administrator (
    admin_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE administrator.administrator OWNER TO postgres;

--
-- Name: interest_rate_setting; Type: TABLE; Schema: administrator; Owner: postgres
--

CREATE TABLE administrator.interest_rate_setting (
    interest_rate_setting_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    admin_id uuid NOT NULL,
    service_fee numeric(4,2) NOT NULL,
    card_fee numeric(4,2) NOT NULL,
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone
);


ALTER TABLE administrator.interest_rate_setting OWNER TO postgres;

--
-- Name: collaborator; Type: TABLE; Schema: authentication; Owner: postgres
--

CREATE TABLE authentication.collaborator (
    collaborator_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    active boolean DEFAULT true,
    user_id uuid NOT NULL,
    sponsor_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone,
    phone_verified boolean DEFAULT false,
    created_by uuid NOT NULL
);


ALTER TABLE authentication.collaborator OWNER TO postgres;

--
-- Name: otp; Type: TABLE; Schema: authentication; Owner: postgres
--

CREATE TABLE authentication.otp (
    otp_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    otp character varying NOT NULL,
    expiry timestamp without time zone NOT NULL,
    used boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone,
    type integer NOT NULL
);


ALTER TABLE authentication.otp OWNER TO postgres;

--
-- Name: profile; Type: TABLE; Schema: authentication; Owner: postgres
--

CREATE TABLE authentication.profile (
    profile_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    fullname character varying(255) NOT NULL,
    avatar character varying(400),
    document character varying(14) NOT NULL,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp without time zone,
    updated_at timestamp without time zone,
    user_id uuid NOT NULL
);


ALTER TABLE authentication.profile OWNER TO postgres;

--
-- Name: role; Type: TABLE; Schema: authentication; Owner: postgres
--

CREATE TABLE authentication.role (
    role_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    description character varying(45) NOT NULL,
    tag character varying(6) NOT NULL,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE authentication.role OWNER TO postgres;

--
-- Name: user; Type: TABLE; Schema: authentication; Owner: postgres
--

CREATE TABLE authentication."user" (
    user_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(11),
    password character varying(400) NOT NULL,
    active boolean DEFAULT true,
    password_generated boolean,
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp without time zone,
    updated_at timestamp without time zone,
    role_id uuid NOT NULL,
    phone_verified boolean DEFAULT false
);


ALTER TABLE authentication."user" OWNER TO postgres;

--
-- Name: access_token_history; Type: TABLE; Schema: billing; Owner: postgres
--

CREATE TABLE billing.access_token_history (
    access_token_history_id uuid DEFAULT billing.uuid_generate_v4() NOT NULL,
    response json NOT NULL,
    partner_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE billing.access_token_history OWNER TO postgres;

--
-- Name: identifier_billing_payment_options; Type: SEQUENCE; Schema: billing; Owner: postgres
--

CREATE SEQUENCE billing.identifier_billing_payment_options
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE billing.identifier_billing_payment_options OWNER TO postgres;

--
-- Name: pagseguro_value_minimum; Type: TABLE; Schema: billing; Owner: postgres
--

CREATE TABLE billing.pagseguro_value_minimum (
    pagseguro_value_minimum_id uuid DEFAULT billing.uuid_generate_v4() NOT NULL,
    partner_id uuid NOT NULL,
    value_minimum_standard numeric DEFAULT 8 NOT NULL,
    value_minimum numeric DEFAULT 8 NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_by uuid,
    updated_at timestamp without time zone
);


ALTER TABLE billing.pagseguro_value_minimum OWNER TO postgres;

--
-- Name: payment; Type: TABLE; Schema: billing; Owner: postgres
--

CREATE TABLE billing.payment (
    payment_id uuid DEFAULT billing.uuid_generate_v4() NOT NULL,
    payment_options_id uuid NOT NULL,
    order_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    installments integer DEFAULT 1,
    amount_paid numeric,
    payment_situation_id uuid DEFAULT '28571130-38e5-4e58-ba91-883bb9c2cae3'::uuid NOT NULL
);


ALTER TABLE billing.payment OWNER TO postgres;

--
-- Name: payment_history; Type: TABLE; Schema: billing; Owner: postgres
--

CREATE TABLE billing.payment_history (
    pagseguro_id uuid DEFAULT billing.uuid_generate_v4() NOT NULL,
    order_id uuid NOT NULL,
    response json NOT NULL,
    status integer NOT NULL,
    request json,
    created_at timestamp without time zone
);


ALTER TABLE billing.payment_history OWNER TO postgres;

--
-- Name: payment_local; Type: TABLE; Schema: billing; Owner: postgres
--

CREATE TABLE billing.payment_local (
    payment_local_id uuid DEFAULT billing.uuid_generate_v4() NOT NULL,
    payment_local_name character varying(100) NOT NULL
);


ALTER TABLE billing.payment_local OWNER TO postgres;

--
-- Name: payment_options; Type: TABLE; Schema: billing; Owner: postgres
--

CREATE TABLE billing.payment_options (
    payment_options_id uuid DEFAULT billing.uuid_generate_v4() NOT NULL,
    identifier integer DEFAULT nextval('billing.identifier_billing_payment_options'::regclass) NOT NULL,
    description character varying NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at date
);


ALTER TABLE billing.payment_options OWNER TO postgres;

--
-- Name: payment_options_local; Type: TABLE; Schema: billing; Owner: postgres
--

CREATE TABLE billing.payment_options_local (
    payment_options_local_id uuid DEFAULT billing.uuid_generate_v4() NOT NULL,
    payment_local_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_by uuid,
    updated_at timestamp without time zone,
    payment_options_id uuid NOT NULL
);


ALTER TABLE billing.payment_options_local OWNER TO postgres;

--
-- Name: payment_order; Type: TABLE; Schema: billing; Owner: postgres
--

CREATE TABLE billing.payment_order (
    payment_order_id uuid DEFAULT billing.uuid_generate_v4() NOT NULL,
    order_id uuid NOT NULL,
    amount_paid numeric(5,2) NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    payment_situation_id uuid DEFAULT '28571130-38e5-4e58-ba91-883bb9c2cae3'::uuid NOT NULL
);


ALTER TABLE billing.payment_order OWNER TO postgres;

--
-- Name: payment_situation; Type: TABLE; Schema: billing; Owner: postgres
--

CREATE TABLE billing.payment_situation (
    payment_situation_id uuid DEFAULT billing.uuid_generate_v4() NOT NULL,
    description character varying NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone
);


ALTER TABLE billing.payment_situation OWNER TO postgres;

--
-- Name: identifier_product; Type: SEQUENCE; Schema: catalog; Owner: postgres
--

CREATE SEQUENCE catalog.identifier_product
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE catalog.identifier_product OWNER TO postgres;

--
-- Name: base_product; Type: TABLE; Schema: catalog; Owner: postgres
--

CREATE TABLE catalog.base_product (
    product_id uuid DEFAULT catalog.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    minimum_price numeric(9,2),
    description character varying,
    note character varying,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    identifier integer DEFAULT nextval('catalog.identifier_product'::regclass),
    active boolean DEFAULT true NOT NULL,
    type character varying NOT NULL,
    admin_id uuid NOT NULL,
    url character varying
);


ALTER TABLE catalog.base_product OWNER TO postgres;

--
-- Name: identifier_category; Type: SEQUENCE; Schema: catalog; Owner: postgres
--

CREATE SEQUENCE catalog.identifier_category
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE catalog.identifier_category OWNER TO postgres;

--
-- Name: category; Type: TABLE; Schema: catalog; Owner: postgres
--

CREATE TABLE catalog.category (
    category_id uuid DEFAULT catalog.uuid_generate_v4() NOT NULL,
    identifier integer DEFAULT nextval('catalog.identifier_category'::regclass),
    description character varying(60) NOT NULL,
    category_parent_id uuid,
    created_by uuid NOT NULL,
    updated_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE catalog.category OWNER TO postgres;

--
-- Name: category_base_product; Type: TABLE; Schema: catalog; Owner: postgres
--

CREATE TABLE catalog.category_base_product (
    category_base_product_id uuid DEFAULT catalog.uuid_generate_v4() NOT NULL,
    category_id uuid NOT NULL,
    product_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    category_parent_id uuid
);


ALTER TABLE catalog.category_base_product OWNER TO postgres;

--
-- Name: identifier_product_partner; Type: SEQUENCE; Schema: catalog; Owner: postgres
--

CREATE SEQUENCE catalog.identifier_product_partner
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE catalog.identifier_product_partner OWNER TO postgres;

--
-- Name: input; Type: TABLE; Schema: catalog; Owner: postgres
--

CREATE TABLE catalog.input (
    input_id uuid DEFAULT catalog.uuid_generate_v4() NOT NULL,
    name character varying(60) NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    update_by uuid,
    update_at timestamp without time zone,
    product_id uuid NOT NULL,
    editable boolean NOT NULL,
    enable boolean NOT NULL
);


ALTER TABLE catalog.input OWNER TO postgres;

--
-- Name: product; Type: TABLE; Schema: catalog; Owner: postgres
--

CREATE TABLE catalog.product (
    product_id uuid DEFAULT catalog.uuid_generate_v4() NOT NULL,
    base_product_id uuid NOT NULL,
    image_default uuid,
    description character varying,
    price numeric(9,2) NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    active boolean DEFAULT false NOT NULL,
    name character varying NOT NULL,
    identifier integer DEFAULT nextval('catalog.identifier_product_partner'::regclass) NOT NULL,
    sale_price numeric(9,2) DEFAULT 0,
    reviewer boolean DEFAULT false NOT NULL
);


ALTER TABLE catalog.product OWNER TO postgres;

--
-- Name: product_branch; Type: TABLE; Schema: catalog; Owner: postgres
--

CREATE TABLE catalog.product_branch (
    product_branch_id uuid DEFAULT catalog.uuid_generate_v4() NOT NULL,
    product_id uuid NOT NULL,
    branch_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone
);


ALTER TABLE catalog.product_branch OWNER TO postgres;

--
-- Name: product_image; Type: TABLE; Schema: catalog; Owner: postgres
--

CREATE TABLE catalog.product_image (
    product_image_id uuid DEFAULT catalog.uuid_generate_v4() NOT NULL,
    url character varying NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone
);


ALTER TABLE catalog.product_image OWNER TO postgres;

--
-- Name: product_image_product; Type: TABLE; Schema: catalog; Owner: postgres
--

CREATE TABLE catalog.product_image_product (
    product_image_product_id uuid DEFAULT catalog.uuid_generate_v4() NOT NULL,
    product_id uuid NOT NULL,
    product_image_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone
);


ALTER TABLE catalog.product_image_product OWNER TO postgres;

--
-- Name: chat; Type: TABLE; Schema: communication; Owner: postgres
--

CREATE TABLE communication.chat (
    chat_id uuid DEFAULT catalog.uuid_generate_v4() NOT NULL,
    description character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone,
    created_by uuid NOT NULL,
    closed timestamp without time zone,
    closed_by uuid,
    order_id uuid
);


ALTER TABLE communication.chat OWNER TO postgres;

--
-- Name: chat_member; Type: TABLE; Schema: communication; Owner: postgres
--

CREATE TABLE communication.chat_member (
    chat_member_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    chat_id uuid NOT NULL,
    user_id uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE communication.chat_member OWNER TO postgres;

--
-- Name: message; Type: TABLE; Schema: communication; Owner: postgres
--

CREATE TABLE communication.message (
    message_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    chat_id uuid NOT NULL,
    created_by uuid NOT NULL,
    sender_id uuid,
    message_type uuid NOT NULL,
    read_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    content character varying NOT NULL
);


ALTER TABLE communication.message OWNER TO postgres;

--
-- Name: message_type; Type: TABLE; Schema: communication; Owner: postgres
--

CREATE TABLE communication.message_type (
    message_type_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    description character varying NOT NULL,
    tag character varying NOT NULL
);


ALTER TABLE communication.message_type OWNER TO postgres;

--
-- Name: notification; Type: TABLE; Schema: communication; Owner: postgres
--

CREATE TABLE communication.notification (
    notification_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    title character varying NOT NULL,
    description character varying NOT NULL,
    read_at timestamp without time zone,
    user_id uuid NOT NULL,
    type character varying DEFAULT 'INFO'::character varying NOT NULL,
    aux_content character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE communication.notification OWNER TO postgres;

--
-- Name: address; Type: TABLE; Schema: consumer; Owner: postgres
--

CREATE TABLE consumer.address (
    address_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    street character varying(200) NOT NULL,
    number character varying(5) NOT NULL,
    complement character varying(200),
    district character varying(50) NOT NULL,
    city character varying(50) NOT NULL,
    state character varying(100) NOT NULL,
    zip_code character varying(8) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    updated_at timestamp without time zone,
    latitude character varying,
    longitude character varying,
    consumer_id uuid NOT NULL,
    description character varying NOT NULL
);


ALTER TABLE consumer.address OWNER TO postgres;

--
-- Name: card; Type: TABLE; Schema: consumer; Owner: postgres
--

CREATE TABLE consumer.card (
    card_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    consumer_id uuid NOT NULL,
    number character varying NOT NULL,
    validity character varying(7) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    name character varying NOT NULL,
    document character varying NOT NULL,
    encrypted character varying
);


ALTER TABLE consumer.card OWNER TO postgres;

--
-- Name: consumer; Type: TABLE; Schema: consumer; Owner: postgres
--

CREATE TABLE consumer.consumer (
    consumer_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    legal_name character varying(200) NOT NULL,
    fantasy_name character varying(100),
    document character varying(14) NOT NULL,
    email character varying(100) NOT NULL,
    phone_number character varying(11) NOT NULL,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    updated_at timestamp without time zone,
    user_id uuid NOT NULL,
    default_address uuid
);


ALTER TABLE consumer.consumer OWNER TO postgres;

--
-- Name: style_consumer; Type: TABLE; Schema: consumer; Owner: postgres
--

CREATE TABLE consumer.style_consumer (
    style_consumer_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    "primary" character varying,
    text character varying,
    primarybackground character varying DEFAULT 'hsl(0, 0%, 90.9%)'::character varying,
    secondary character varying DEFAULT '#D5573B'::character varying,
    black character varying DEFAULT '#242424'::character varying,
    gray character varying DEFAULT '#707070'::character varying,
    lightgray character varying DEFAULT 'hsl(0, 0%, 94.9%)'::character varying,
    white character varying DEFAULT '#fff'::character varying,
    background character varying DEFAULT '#fbfbfb'::character varying,
    shadow character varying DEFAULT '#00000020'::character varying,
    shadowprimary character varying DEFAULT '#007EA715'::character varying,
    success character varying DEFAULT '#03ac13'::character varying,
    danger character varying DEFAULT '#ca3433'::character varying,
    warning character varying DEFAULT '#ffbb33'::character varying,
    blue character varying DEFAULT '#007EA7'::character varying,
    shadowblue character varying DEFAULT '#007EA715'::character varying,
    gold character varying DEFAULT '#fe7914'::character varying,
    orange character varying DEFAULT '#FFA500'::character varying,
    light_italic character varying DEFAULT 'Poppins_300Light_Italic'::character varying,
    light character varying DEFAULT 'Poppins_300Light'::character varying,
    italic character varying DEFAULT 'Poppins_400Regular_Italic'::character varying,
    regular character varying DEFAULT 'Poppins_400Regular'::character varying,
    medium character varying DEFAULT 'Poppins_500Medium'::character varying,
    bold character varying DEFAULT 'Poppins_700Bold'::character varying,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    admin_id uuid NOT NULL
);


ALTER TABLE consumer.style_consumer OWNER TO postgres;

--
-- Name: actuation_area; Type: TABLE; Schema: logistics; Owner: postgres
--

CREATE TABLE logistics.actuation_area (
    actuation_area_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    geometry logistics.geometry NOT NULL,
    partner_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone,
    active boolean DEFAULT true NOT NULL,
    name character varying NOT NULL,
    updated_by uuid,
    branch_id uuid NOT NULL
);


ALTER TABLE logistics.actuation_area OWNER TO postgres;

--
-- Name: actuation_area_config; Type: TABLE; Schema: logistics; Owner: postgres
--

CREATE TABLE logistics.actuation_area_config (
    actuation_area_config_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    actuation_area_id uuid NOT NULL,
    start_hour character varying(5) NOT NULL,
    end_hour character varying(5) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at date,
    created_by uuid NOT NULL,
    updated_by uuid
);


ALTER TABLE logistics.actuation_area_config OWNER TO postgres;

--
-- Name: actuation_area_delivery_option; Type: TABLE; Schema: logistics; Owner: postgres
--

CREATE TABLE logistics.actuation_area_delivery_option (
    delivery_option_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE logistics.actuation_area_delivery_option OWNER TO postgres;

--
-- Name: actuation_area_payments; Type: TABLE; Schema: logistics; Owner: postgres
--

CREATE TABLE logistics.actuation_area_payments (
    actuation_area_payments_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    actuation_area_config_id uuid NOT NULL,
    payment_options_id uuid NOT NULL,
    active boolean DEFAULT true,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_by uuid,
    updated_at timestamp without time zone
);


ALTER TABLE logistics.actuation_area_payments OWNER TO postgres;

--
-- Name: actuation_area_shipping; Type: TABLE; Schema: logistics; Owner: postgres
--

CREATE TABLE logistics.actuation_area_shipping (
    actuation_area_shipping_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    actuation_area_config_id uuid NOT NULL,
    delivery_option_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    value numeric DEFAULT 0 NOT NULL,
    active boolean DEFAULT true NOT NULL,
    shipping_free boolean
);


ALTER TABLE logistics.actuation_area_shipping OWNER TO postgres;

--
-- Name: working_day; Type: TABLE; Schema: logistics; Owner: postgres
--

CREATE TABLE logistics.working_day (
    working_day_id uuid DEFAULT authentication.uuid_generate_v4() NOT NULL,
    day_number integer NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    actuation_area_config_id uuid NOT NULL,
    updated_by uuid,
    updated_at timestamp without time zone
);


ALTER TABLE logistics.working_day OWNER TO postgres;

--
-- Name: address; Type: TABLE; Schema: orders; Owner: postgres
--

CREATE TABLE orders.address (
    address_id uuid DEFAULT orders.uuid_generate_v4() NOT NULL,
    street character varying(200) NOT NULL,
    number character varying(5) NOT NULL,
    complement character varying(200),
    district character varying(50) NOT NULL,
    city character varying(50) NOT NULL,
    state character varying(100) NOT NULL,
    zip_code character varying(8) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone,
    latitude character varying(20),
    longitude character varying(20)
);


ALTER TABLE orders.address OWNER TO postgres;

--
-- Name: order_branch; Type: TABLE; Schema: orders; Owner: postgres
--

CREATE TABLE orders.order_branch (
    order_branch_id uuid DEFAULT orders.uuid_generate_v4() NOT NULL,
    order_id uuid NOT NULL,
    branch_id uuid NOT NULL,
    branch_name character varying NOT NULL,
    document character varying NOT NULL,
    partner_id uuid,
    phone character varying NOT NULL
);


ALTER TABLE orders.order_branch OWNER TO postgres;

--
-- Name: order_consumer; Type: TABLE; Schema: orders; Owner: postgres
--

CREATE TABLE orders.order_consumer (
    order_address_id uuid DEFAULT orders.uuid_generate_v4() NOT NULL,
    order_id uuid NOT NULL,
    address_id uuid,
    street character varying NOT NULL,
    number character varying NOT NULL,
    complement character varying,
    district character varying NOT NULL,
    city character varying NOT NULL,
    state character varying NOT NULL,
    zip_code character varying NOT NULL,
    latitude character varying,
    longitude character varying,
    consumer_id uuid NOT NULL,
    legal_name character varying NOT NULL,
    fantasy_name character varying NOT NULL,
    document character varying NOT NULL,
    email character varying NOT NULL,
    phone_number character varying NOT NULL
);


ALTER TABLE orders.order_consumer OWNER TO postgres;

--
-- Name: order_number; Type: SEQUENCE; Schema: orders; Owner: postgres
--

CREATE SEQUENCE orders.order_number
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE orders.order_number OWNER TO postgres;

--
-- Name: order_shipping; Type: TABLE; Schema: orders; Owner: postgres
--

CREATE TABLE orders.order_shipping (
    order_shipping_id uuid DEFAULT orders.uuid_generate_v4() NOT NULL,
    order_id uuid NOT NULL,
    delivery_option_id uuid NOT NULL,
    name character varying NOT NULL,
    value numeric NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    shipping_free boolean NOT NULL
);


ALTER TABLE orders.order_shipping OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: orders; Owner: postgres
--

CREATE TABLE orders.orders (
    order_id uuid DEFAULT orders.uuid_generate_v4() NOT NULL,
    order_number bigint DEFAULT nextval('orders.order_number'::regclass) NOT NULL,
    freight numeric,
    amount numeric,
    address_id uuid,
    observation character varying,
    created_at timestamp without time zone DEFAULT now(),
    shipping_company_id uuid,
    order_status_id uuid DEFAULT 'd71cb62a-28dd-44a8-a008-9d7d7d1af810'::uuid NOT NULL,
    updated_at timestamp without time zone,
    created_by uuid NOT NULL,
    updated_by uuid,
    branch_id uuid,
    change numeric,
    consumer_id uuid NOT NULL,
    service_fee numeric(4,2) NOT NULL,
    card_fee numeric(4,2) NOT NULL
);


ALTER TABLE orders.orders OWNER TO postgres;

--
-- Name: orders_itens; Type: TABLE; Schema: orders; Owner: postgres
--

CREATE TABLE orders.orders_itens (
    order_item_id uuid DEFAULT orders.uuid_generate_v4() NOT NULL,
    product_name character varying(200) NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    product_value numeric,
    product_id uuid NOT NULL,
    order_id uuid NOT NULL
);


ALTER TABLE orders.orders_itens OWNER TO postgres;

--
-- Name: orders_status; Type: TABLE; Schema: orders; Owner: postgres
--

CREATE TABLE orders.orders_status (
    order_status_id uuid DEFAULT orders.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    update_by uuid,
    updated_at character varying
);


ALTER TABLE orders.orders_status OWNER TO postgres;

--
-- Name: orders_status_history; Type: TABLE; Schema: orders; Owner: postgres
--

CREATE TABLE orders.orders_status_history (
    order_status_history_id uuid DEFAULT orders.uuid_generate_v4() NOT NULL,
    order_id uuid NOT NULL,
    order_status_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone
);


ALTER TABLE orders.orders_status_history OWNER TO postgres;

--
-- Name: shipping_company; Type: TABLE; Schema: orders; Owner: postgres
--

CREATE TABLE orders.shipping_company (
    shipping_company_id uuid DEFAULT orders.uuid_generate_v4() NOT NULL,
    company_name character varying(200) NOT NULL,
    document character varying(20) NOT NULL,
    address_id uuid NOT NULL
);


ALTER TABLE orders.shipping_company OWNER TO postgres;

--
-- Name: address; Type: TABLE; Schema: partner; Owner: postgres
--

CREATE TABLE partner.address (
    address_id uuid DEFAULT partner.uuid_generate_v4() NOT NULL,
    street character varying(200) NOT NULL,
    number character varying(5) NOT NULL,
    complement character varying(200),
    district character varying(50) NOT NULL,
    city character varying(50) NOT NULL,
    state character varying(100) NOT NULL,
    zip_code character varying NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone,
    latitude character varying,
    longitude character varying,
    branch_id uuid NOT NULL,
    created_by uuid NOT NULL,
    updated_by uuid
);


ALTER TABLE partner.address OWNER TO postgres;

--
-- Name: bank_details; Type: TABLE; Schema: partner; Owner: postgres
--

CREATE TABLE partner.bank_details (
    bank_details_id uuid DEFAULT partner.uuid_generate_v4() NOT NULL,
    partner_id uuid NOT NULL,
    bank character varying,
    agency character varying,
    account_number character varying,
    active boolean DEFAULT true,
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    account_id character varying
);


ALTER TABLE partner.bank_details OWNER TO postgres;

--
-- Name: branch; Type: TABLE; Schema: partner; Owner: postgres
--

CREATE TABLE partner.branch (
    branch_id uuid DEFAULT partner.uuid_generate_v4() NOT NULL,
    branch_name character varying(150) NOT NULL,
    document character varying(14),
    partner_id uuid NOT NULL,
    phone character varying,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE partner.branch OWNER TO postgres;

--
-- Name: identifier_partner; Type: SEQUENCE; Schema: partner; Owner: postgres
--

CREATE SEQUENCE partner.identifier_partner
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE partner.identifier_partner OWNER TO postgres;

--
-- Name: partner; Type: TABLE; Schema: partner; Owner: postgres
--

CREATE TABLE partner.partner (
    partner_id uuid DEFAULT partner.uuid_generate_v4() NOT NULL,
    legal_name character varying(200) NOT NULL,
    fantasy_name character varying(100),
    document character varying(14) NOT NULL,
    email character varying(100) NOT NULL,
    phone_number character varying(11) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone,
    user_id uuid NOT NULL,
    created_by uuid NOT NULL,
    admin_id uuid NOT NULL,
    updated_by uuid,
    identifier integer DEFAULT nextval('partner.identifier_partner'::regclass) NOT NULL,
    service_fee numeric(4,2) DEFAULT 0.02 NOT NULL,
    card_fee numeric(4,2) DEFAULT 0.01 NOT NULL
);


ALTER TABLE partner.partner OWNER TO postgres;

--
-- Name: style_partner; Type: TABLE; Schema: partner; Owner: postgres
--

CREATE TABLE partner.style_partner (
    style_partner_id uuid DEFAULT partner.uuid_generate_v4() NOT NULL,
    admin_id uuid NOT NULL,
    lighter character varying,
    light character varying,
    main character varying,
    dark character varying,
    darker character varying,
    contrasttext character varying,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    logo character varying
);


ALTER TABLE partner.style_partner OWNER TO postgres;

--
-- Name: mysequence; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mysequence
    START WITH 100
    INCREMENT BY 5
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mysequence OWNER TO postgres;

--
-- Name: report; Type: TABLE; Schema: report; Owner: postgres
--

CREATE TABLE report.report (
    report_id uuid DEFAULT report.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    active boolean DEFAULT true NOT NULL,
    description character varying
);


ALTER TABLE report.report OWNER TO postgres;

--
-- Name: report_filter; Type: TABLE; Schema: report; Owner: postgres
--

CREATE TABLE report.report_filter (
    report_filter_id uuid DEFAULT report.uuid_generate_v4() NOT NULL,
    filter_name character varying,
    report_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone
);


ALTER TABLE report.report_filter OWNER TO postgres;

--
-- Name: branch_rating; Type: TABLE; Schema: reputation; Owner: postgres
--

CREATE TABLE reputation.branch_rating (
    branch_rating_id uuid DEFAULT reputation.uuid_generate_v4() NOT NULL,
    rating_id uuid NOT NULL,
    branch_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    update_at timestamp without time zone
);


ALTER TABLE reputation.branch_rating OWNER TO postgres;

--
-- Name: rating; Type: TABLE; Schema: reputation; Owner: postgres
--

CREATE TABLE reputation.rating (
    rating_id uuid DEFAULT reputation.uuid_generate_v4() NOT NULL,
    user_id uuid,
    rating_type_id uuid DEFAULT '4c09f612-6d27-496a-8ee2-85027319f017'::uuid NOT NULL,
    rating_value integer DEFAULT 0 NOT NULL,
    note character varying,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone
);


ALTER TABLE reputation.rating OWNER TO postgres;

--
-- Name: rating_type; Type: TABLE; Schema: reputation; Owner: postgres
--

CREATE TABLE reputation.rating_type (
    rating_type_id uuid DEFAULT reputation.uuid_generate_v4() NOT NULL,
    name character varying(100) NOT NULL,
    description character varying,
    max_value integer DEFAULT 5 NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by uuid,
    updated_at timestamp without time zone,
    min_value integer DEFAULT 0 NOT NULL
);


ALTER TABLE reputation.rating_type OWNER TO postgres;

--
-- Data for Name: administrator; Type: TABLE DATA; Schema: administrator; Owner: postgres
--

COPY administrator.administrator (admin_id, user_id) FROM stdin;
e92f9c8d-3665-49bb-a1a3-2658e9b9361e	e92f9c8d-3665-49bb-a1a3-2658e9b9361e
\.


--
-- Data for Name: interest_rate_setting; Type: TABLE DATA; Schema: administrator; Owner: postgres
--

COPY administrator.interest_rate_setting (interest_rate_setting_id, admin_id, service_fee, card_fee, created_by, created_at, updated_by, updated_at) FROM stdin;
1ac0a836-8443-4904-bb4b-03eef7642622	e92f9c8d-3665-49bb-a1a3-2658e9b9361e	0.05	0.03	e92f9c8d-3665-49bb-a1a3-2658e9b9361e	2023-09-22 12:47:53.389752	e92f9c8d-3665-49bb-a1a3-2658e9b9361e	2024-12-28 13:57:30.722643
\.


--
-- Data for Name: collaborator; Type: TABLE DATA; Schema: authentication; Owner: postgres
--

COPY authentication.collaborator (collaborator_id, active, user_id, sponsor_id, created_at, updated_at, phone_verified, created_by) FROM stdin;
\.


--
-- Data for Name: otp; Type: TABLE DATA; Schema: authentication; Owner: postgres
--



--
-- Data for Name: profile; Type: TABLE DATA; Schema: authentication; Owner: postgres
--



--
-- Data for Name: role; Type: TABLE DATA; Schema: authentication; Owner: postgres
--

COPY authentication.role (role_id, description, tag, active, created_at, deleted_at, updated_at) FROM stdin;
3409cb1c-00e1-4f69-a74f-2f9ef01bf558	Administrator	ADM	t	2023-08-03 21:22:21.893715	\N	\N
26d9b950-b886-4e7c-b672-46c368ede199	Consumer	CONS	t	2023-08-03 21:22:21.893715	\N	\N
fb9cfe17-eb9d-417a-9db5-b6e24d618383	Partner	PART	t	2023-08-03 21:22:21.893715	\N	\N
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: authentication; Owner: postgres
--



--
-- Data for Name: access_token_history; Type: TABLE DATA; Schema: billing; Owner: postgres
--

COPY billing.access_token_history (access_token_history_id, response, partner_id, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: pagseguro_value_minimum; Type: TABLE DATA; Schema: billing; Owner: postgres
--

COPY billing.pagseguro_value_minimum (pagseguro_value_minimum_id, partner_id, value_minimum_standard, value_minimum, created_by, created_at, updated_by, updated_at) FROM stdin;
70354049-a038-427b-970e-90e44cd30afe	ae565ea8-440c-4063-9885-3192863fd0b6	8	8	e92f9c8d-3665-49bb-a1a3-2658e9b9361e	2024-12-13 19:45:44.482694	aaa2ae61-b95b-472c-9426-61a3297c2904	2025-02-01 16:55:19.296203
\.


--
-- Data for Name: payment; Type: TABLE DATA; Schema: billing; Owner: postgres
--



--
-- Data for Name: payment_history; Type: TABLE DATA; Schema: billing; Owner: postgres
--



--
-- Data for Name: payment_local; Type: TABLE DATA; Schema: billing; Owner: postgres
--

COPY billing.payment_local (payment_local_id, payment_local_name) FROM stdin;
1880eca5-e912-49ba-bbc6-146014974219	Pagamento no Aplicativo
34496a35-a666-4b79-aa83-fb5b88afea73	Pagamento na Entrega
\.


--
-- Data for Name: payment_options; Type: TABLE DATA; Schema: billing; Owner: postgres
--



--
-- Data for Name: payment_options_local; Type: TABLE DATA; Schema: billing; Owner: postgres
--



--
-- Data for Name: payment_order; Type: TABLE DATA; Schema: billing; Owner: postgres
--

COPY billing.payment_order (payment_order_id, order_id, amount_paid, created_by, created_at, updated_by, updated_at, payment_situation_id) FROM stdin;
\.


--
-- Data for Name: payment_situation; Type: TABLE DATA; Schema: billing; Owner: postgres
--

COPY billing.payment_situation (payment_situation_id, description, active, created_by, created_at, updated_by, updated_at) FROM stdin;
28571130-38e5-4e58-ba91-883bb9c2cae3	Aguardando pagamento	t	e92f9c8d-3665-49bb-a1a3-2658e9b9361e	2023-06-02 09:33:26.781	\N	\N
479dfbfa-660a-4a96-b93a-05082ced6299	Pago	t	e92f9c8d-3665-49bb-a1a3-2658e9b9361e	2023-06-02 09:33:49.05	\N	\N
\.


--
-- Data for Name: base_product; Type: TABLE DATA; Schema: catalog; Owner: postgres
--



--
-- Data for Name: category; Type: TABLE DATA; Schema: catalog; Owner: postgres
--



--
-- Data for Name: category_base_product; Type: TABLE DATA; Schema: catalog; Owner: postgres
--



--
-- Data for Name: input; Type: TABLE DATA; Schema: catalog; Owner: postgres
--

COPY catalog.input (input_id, name, created_by, created_at, update_by, update_at, product_id, editable, enable) FROM stdin;
\.


--
-- Data for Name: product; Type: TABLE DATA; Schema: catalog; Owner: postgres
--



--
-- Data for Name: product_branch; Type: TABLE DATA; Schema: catalog; Owner: postgres
--



--
-- Data for Name: product_image; Type: TABLE DATA; Schema: catalog; Owner: postgres
--



--
-- Data for Name: product_image_product; Type: TABLE DATA; Schema: catalog; Owner: postgres
--



--
-- Data for Name: chat; Type: TABLE DATA; Schema: communication; Owner: postgres
--



--
-- Data for Name: chat_member; Type: TABLE DATA; Schema: communication; Owner: postgres
--



--
-- Data for Name: message; Type: TABLE DATA; Schema: communication; Owner: postgres
--



--
-- Data for Name: message_type; Type: TABLE DATA; Schema: communication; Owner: postgres
--

COPY communication.message_type (message_type_id, description, tag) FROM stdin;
71d5f4a5-0951-4d29-810e-1debf76a4c85	Text	TEXT
32a7585e-c2ef-4920-89f3-ca339578c7b3	Image	IMG
\.


--
-- Data for Name: notification; Type: TABLE DATA; Schema: communication; Owner: postgres
--



--
-- Data for Name: address; Type: TABLE DATA; Schema: consumer; Owner: postgres
--



--
-- Data for Name: card; Type: TABLE DATA; Schema: consumer; Owner: postgres
--



--
-- Data for Name: consumer; Type: TABLE DATA; Schema: consumer; Owner: postgres
--



--
-- Data for Name: style_consumer; Type: TABLE DATA; Schema: consumer; Owner: postgres
--



--
-- Data for Name: actuation_area; Type: TABLE DATA; Schema: logistics; Owner: postgres
--



--
-- Data for Name: actuation_area_config; Type: TABLE DATA; Schema: logistics; Owner: postgres
--



--
-- Data for Name: actuation_area_delivery_option; Type: TABLE DATA; Schema: logistics; Owner: postgres
--



--
-- Data for Name: actuation_area_payments; Type: TABLE DATA; Schema: logistics; Owner: postgres
--



--
-- Data for Name: actuation_area_shipping; Type: TABLE DATA; Schema: logistics; Owner: postgres
--



--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: logistics; Owner: postgres
--

COPY logistics.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: working_day; Type: TABLE DATA; Schema: logistics; Owner: postgres
--



--
-- Data for Name: address; Type: TABLE DATA; Schema: orders; Owner: postgres
--

COPY orders.address (address_id, street, number, complement, district, city, state, zip_code, active, created_at, updated_at, latitude, longitude) FROM stdin;
40cb3c30-9cc1-4e6f-93ae-fd856c3b85e9	Rua DDD	666	Casa 666	Vila Capetinha	S├úo Paulo	SP	03613666	t	2023-05-19 15:46:30.355	2023-05-19 17:44:12.107	-23.5503099	-46.6367758
\.


--
-- Data for Name: order_branch; Type: TABLE DATA; Schema: orders; Owner: postgres
--



--
-- Data for Name: order_consumer; Type: TABLE DATA; Schema: orders; Owner: postgres
--



--
-- Data for Name: order_shipping; Type: TABLE DATA; Schema: orders; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: orders; Owner: postgres
--



--
-- Data for Name: orders_itens; Type: TABLE DATA; Schema: orders; Owner: postgres
--



--
-- Data for Name: orders_status; Type: TABLE DATA; Schema: orders; Owner: postgres
--



--
-- Data for Name: orders_status_history; Type: TABLE DATA; Schema: orders; Owner: postgres
--



--
-- Data for Name: shipping_company; Type: TABLE DATA; Schema: orders; Owner: postgres
--

COPY orders.shipping_company (shipping_company_id, company_name, document, address_id) FROM stdin;
7e1386fa-c4d7-4c11-9489-a3068996bac0	transportadora mario atualizado	45312393000000	40cb3c30-9cc1-4e6f-93ae-fd856c3b85e9
\.


--
-- Data for Name: address; Type: TABLE DATA; Schema: partner; Owner: postgres
--



--
-- Data for Name: bank_details; Type: TABLE DATA; Schema: partner; Owner: postgres
--

COPY partner.bank_details (bank_details_id, partner_id, bank, agency, account_number, active, created_by, created_at, updated_by, updated_at, account_id) FROM stdin;
\.


--
-- Data for Name: branch; Type: TABLE DATA; Schema: partner; Owner: postgres
--



--
-- Data for Name: partner; Type: TABLE DATA; Schema: partner; Owner: postgres
--

COPY partner.partner (partner_id, legal_name, fantasy_name, document, email, phone_number, active, created_at, updated_at, user_id, created_by, admin_id, updated_by, identifier, service_fee, card_fee) FROM stdin;
ae565ea8-440c-4063-9885-3192863fd0b6	Emmanuel Menezes	Emmanuel Menezes	35712298864	emmanuel.s.menezes+10@gmail.com	11998650135	t	2024-12-13 19:45:44.482694	\N	aaa2ae61-b95b-472c-9426-61a3297c2904	e92f9c8d-3665-49bb-a1a3-2658e9b9361e	e92f9c8d-3665-49bb-a1a3-2658e9b9361e	\N	27	0.05	0.03
\.


--
-- Data for Name: style_partner; Type: TABLE DATA; Schema: partner; Owner: postgres
--

COPY partner.style_partner (style_partner_id, admin_id, lighter, light, main, dark, darker, contrasttext, created_by, created_at, updated_by, updated_at, logo) FROM stdin;
7f88e4c3-446c-41cd-a5af-49d9eecf8cee	e92f9c8d-3665-49bb-a1a3-2658e9b9361e	#edd4a6	#ec7610	#ffa500	#ff6d00	#f9b979	#694504	e92f9c8d-3665-49bb-a1a3-2658e9b9361e	2024-09-06 21:02:28.472185	e92f9c8d-3665-49bb-a1a3-2658e9b9361e	2025-11-01 12:43:02.806092	https://minio.laveai.app:9000/logopartner/Group%2014.png?AWSAccessKeyId=minio&Expires=33263302128&Signature=mBTrZoPOUucjQ0suLqAI6koh6Us%3D
\.


--
-- Data for Name: report; Type: TABLE DATA; Schema: report; Owner: postgres
--

COPY report.report (report_id, name, created_by, created_at, updated_by, updated_at, active, description) FROM stdin;
\.


--
-- Data for Name: report_filter; Type: TABLE DATA; Schema: report; Owner: postgres
--

COPY report.report_filter (report_filter_id, filter_name, report_id, created_by, created_at, updated_by, updated_at) FROM stdin;
\.


--
-- Data for Name: branch_rating; Type: TABLE DATA; Schema: reputation; Owner: postgres
--

COPY reputation.branch_rating (branch_rating_id, rating_id, branch_id, created_by, created_at, updated_by, update_at) FROM stdin;
\.


--
-- Data for Name: rating; Type: TABLE DATA; Schema: reputation; Owner: postgres
--

COPY reputation.rating (rating_id, user_id, rating_type_id, rating_value, note, created_by, created_at, updated_by, updated_at) FROM stdin;
\.


--
-- Data for Name: rating_type; Type: TABLE DATA; Schema: reputation; Owner: postgres
--

COPY reputation.rating_type (rating_type_id, name, description, max_value, created_by, created_at, updated_by, updated_at, min_value) FROM stdin;
\.


--
-- Name: identifier_billing_payment_options; Type: SEQUENCE SET; Schema: billing; Owner: postgres
--

SELECT pg_catalog.setval('billing.identifier_billing_payment_options', 33, true);


--
-- Name: identifier_category; Type: SEQUENCE SET; Schema: catalog; Owner: postgres
--

SELECT pg_catalog.setval('catalog.identifier_category', 40, true);


--
-- Name: identifier_product; Type: SEQUENCE SET; Schema: catalog; Owner: postgres
--

SELECT pg_catalog.setval('catalog.identifier_product', 261, true);


--
-- Name: identifier_product_partner; Type: SEQUENCE SET; Schema: catalog; Owner: postgres
--

SELECT pg_catalog.setval('catalog.identifier_product_partner', 271, true);


--
-- Name: order_number; Type: SEQUENCE SET; Schema: orders; Owner: postgres
--

SELECT pg_catalog.setval('orders.order_number', 92, true);


--
-- Name: identifier_partner; Type: SEQUENCE SET; Schema: partner; Owner: postgres
--

SELECT pg_catalog.setval('partner.identifier_partner', 27, true);


--
-- Name: mysequence; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mysequence', 100, false);


--
-- Name: administrator pk_administrator; Type: CONSTRAINT; Schema: administrator; Owner: postgres
--

ALTER TABLE ONLY administrator.administrator
    ADD CONSTRAINT pk_administrator PRIMARY KEY (admin_id);


--
-- Name: interest_rate_setting pk_interest_rate_setting_interest_rate_setting; Type: CONSTRAINT; Schema: administrator; Owner: postgres
--

ALTER TABLE ONLY administrator.interest_rate_setting
    ADD CONSTRAINT pk_interest_rate_setting_interest_rate_setting PRIMARY KEY (interest_rate_setting_id);


--
-- Name: collaborator collaborator_pkey; Type: CONSTRAINT; Schema: authentication; Owner: postgres
--

ALTER TABLE ONLY authentication.collaborator
    ADD CONSTRAINT collaborator_pkey PRIMARY KEY (collaborator_id);


--
-- Name: otp pk_otp; Type: CONSTRAINT; Schema: authentication; Owner: postgres
--

ALTER TABLE ONLY authentication.otp
    ADD CONSTRAINT pk_otp PRIMARY KEY (otp_id);


--
-- Name: profile profile_pkey; Type: CONSTRAINT; Schema: authentication; Owner: postgres
--

ALTER TABLE ONLY authentication.profile
    ADD CONSTRAINT profile_pkey PRIMARY KEY (profile_id);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: authentication; Owner: postgres
--

ALTER TABLE ONLY authentication.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (role_id);


--
-- Name: profile unq_profile_user_id; Type: CONSTRAINT; Schema: authentication; Owner: postgres
--

ALTER TABLE ONLY authentication.profile
    ADD CONSTRAINT unq_profile_user_id UNIQUE (user_id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: authentication; Owner: postgres
--

ALTER TABLE ONLY authentication."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (user_id);


--
-- Name: access_token_history access_token_history_pk; Type: CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.access_token_history
    ADD CONSTRAINT access_token_history_pk PRIMARY KEY (access_token_history_id);


--
-- Name: pagseguro_value_minimum pagseguro_value_minimum_pk; Type: CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.pagseguro_value_minimum
    ADD CONSTRAINT pagseguro_value_minimum_pk PRIMARY KEY (pagseguro_value_minimum_id);


--
-- Name: payment_history pk_pagseguro_pagseguro_id; Type: CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment_history
    ADD CONSTRAINT pk_pagseguro_pagseguro_id PRIMARY KEY (pagseguro_id);


--
-- Name: payment_local pk_payment_local_payment_local_id; Type: CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment_local
    ADD CONSTRAINT pk_payment_local_payment_local_id PRIMARY KEY (payment_local_id);


--
-- Name: payment_options_local pk_payment_options_local_payment_options_local_id; Type: CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment_options_local
    ADD CONSTRAINT pk_payment_options_local_payment_options_local_id PRIMARY KEY (payment_options_local_id);


--
-- Name: payment_options pk_payment_options_payment_options_id; Type: CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment_options
    ADD CONSTRAINT pk_payment_options_payment_options_id PRIMARY KEY (payment_options_id);


--
-- Name: payment_order pk_payment_payment_id; Type: CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment_order
    ADD CONSTRAINT pk_payment_payment_id PRIMARY KEY (payment_order_id);


--
-- Name: payment pk_payment_payment_id_0; Type: CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment
    ADD CONSTRAINT pk_payment_payment_id_0 PRIMARY KEY (payment_id);


--
-- Name: payment_situation pk_payment_situation_payment_situation_id; Type: CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment_situation
    ADD CONSTRAINT pk_payment_situation_payment_situation_id PRIMARY KEY (payment_situation_id);


--
-- Name: payment_options unq_payment_options_payment_options_id; Type: CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment_options
    ADD CONSTRAINT unq_payment_options_payment_options_id UNIQUE (payment_options_id);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (category_id);


--
-- Name: base_product pk_base_product; Type: CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.base_product
    ADD CONSTRAINT pk_base_product PRIMARY KEY (product_id);


--
-- Name: category_base_product pk_category_base_product; Type: CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.category_base_product
    ADD CONSTRAINT pk_category_base_product PRIMARY KEY (category_base_product_id);


--
-- Name: product pk_product; Type: CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.product
    ADD CONSTRAINT pk_product PRIMARY KEY (product_id);


--
-- Name: product_branch pk_product_branch_product_branch_id; Type: CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.product_branch
    ADD CONSTRAINT pk_product_branch_product_branch_id PRIMARY KEY (product_branch_id);


--
-- Name: product_image pk_product_image; Type: CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.product_image
    ADD CONSTRAINT pk_product_image PRIMARY KEY (product_image_id);


--
-- Name: product_image_product pk_product_image_product; Type: CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.product_image_product
    ADD CONSTRAINT pk_product_image_product PRIMARY KEY (product_image_product_id);


--
-- Name: input pk_tbl; Type: CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.input
    ADD CONSTRAINT pk_tbl PRIMARY KEY (input_id);


--
-- Name: product unq_product_image_default; Type: CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.product
    ADD CONSTRAINT unq_product_image_default UNIQUE (image_default);


--
-- Name: notification notification_pk; Type: CONSTRAINT; Schema: communication; Owner: postgres
--

ALTER TABLE ONLY communication.notification
    ADD CONSTRAINT notification_pk PRIMARY KEY (notification_id);


--
-- Name: chat_member pk_chat_members_chat_member_id; Type: CONSTRAINT; Schema: communication; Owner: postgres
--

ALTER TABLE ONLY communication.chat_member
    ADD CONSTRAINT pk_chat_members_chat_member_id PRIMARY KEY (chat_member_id);


--
-- Name: message pk_message_message_id; Type: CONSTRAINT; Schema: communication; Owner: postgres
--

ALTER TABLE ONLY communication.message
    ADD CONSTRAINT pk_message_message_id PRIMARY KEY (message_id);


--
-- Name: message_type pk_message_type_message_type_id; Type: CONSTRAINT; Schema: communication; Owner: postgres
--

ALTER TABLE ONLY communication.message_type
    ADD CONSTRAINT pk_message_type_message_type_id PRIMARY KEY (message_type_id);


--
-- Name: chat pk_table_chat_id; Type: CONSTRAINT; Schema: communication; Owner: postgres
--

ALTER TABLE ONLY communication.chat
    ADD CONSTRAINT pk_table_chat_id PRIMARY KEY (chat_id);


--
-- Name: address pk_adress; Type: CONSTRAINT; Schema: consumer; Owner: postgres
--

ALTER TABLE ONLY consumer.address
    ADD CONSTRAINT pk_adress PRIMARY KEY (address_id);


--
-- Name: card pk_card; Type: CONSTRAINT; Schema: consumer; Owner: postgres
--

ALTER TABLE ONLY consumer.card
    ADD CONSTRAINT pk_card PRIMARY KEY (card_id);


--
-- Name: consumer pk_consumer; Type: CONSTRAINT; Schema: consumer; Owner: postgres
--

ALTER TABLE ONLY consumer.consumer
    ADD CONSTRAINT pk_consumer PRIMARY KEY (consumer_id);


--
-- Name: style_consumer pk_style_consumer_style_consumer_id; Type: CONSTRAINT; Schema: consumer; Owner: postgres
--

ALTER TABLE ONLY consumer.style_consumer
    ADD CONSTRAINT pk_style_consumer_style_consumer_id PRIMARY KEY (style_consumer_id);


--
-- Name: actuation_area_shipping pk_actuation_are_shipping_actuation_are_shipping_id; Type: CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.actuation_area_shipping
    ADD CONSTRAINT pk_actuation_are_shipping_actuation_are_shipping_id PRIMARY KEY (actuation_area_shipping_id);


--
-- Name: actuation_area pk_actuation_area; Type: CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.actuation_area
    ADD CONSTRAINT pk_actuation_area PRIMARY KEY (actuation_area_id);


--
-- Name: actuation_area_config pk_actuation_area_config_actuation_area_config_id; Type: CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.actuation_area_config
    ADD CONSTRAINT pk_actuation_area_config_actuation_area_config_id PRIMARY KEY (actuation_area_config_id);


--
-- Name: actuation_area_payments pk_actuation_area_payments_actuation_area_payments_id; Type: CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.actuation_area_payments
    ADD CONSTRAINT pk_actuation_area_payments_actuation_area_payments_id PRIMARY KEY (actuation_area_payments_id);


--
-- Name: actuation_area_delivery_option pk_shipping_option_shipping_option_id; Type: CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.actuation_area_delivery_option
    ADD CONSTRAINT pk_shipping_option_shipping_option_id PRIMARY KEY (delivery_option_id);


--
-- Name: working_day pk_working_day_working_day_id; Type: CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.working_day
    ADD CONSTRAINT pk_working_day_working_day_id PRIMARY KEY (working_day_id);


--
-- Name: address pk_adress; Type: CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.address
    ADD CONSTRAINT pk_adress PRIMARY KEY (address_id);


--
-- Name: order_consumer pk_order_address_order_address_id; Type: CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.order_consumer
    ADD CONSTRAINT pk_order_address_order_address_id PRIMARY KEY (order_address_id);


--
-- Name: order_branch pk_order_branch_order_branch_id; Type: CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.order_branch
    ADD CONSTRAINT pk_order_branch_order_branch_id PRIMARY KEY (order_branch_id);


--
-- Name: order_shipping pk_order_shipping_order_shipping_id; Type: CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.order_shipping
    ADD CONSTRAINT pk_order_shipping_order_shipping_id PRIMARY KEY (order_shipping_id);


--
-- Name: orders_itens pk_orders_itens; Type: CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.orders_itens
    ADD CONSTRAINT pk_orders_itens PRIMARY KEY (order_item_id);


--
-- Name: orders_status_history pk_orders_status_history_order_status_history_id; Type: CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.orders_status_history
    ADD CONSTRAINT pk_orders_status_history_order_status_history_id PRIMARY KEY (order_status_history_id);


--
-- Name: orders_status pk_orders_status_ordes_status_id; Type: CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.orders_status
    ADD CONSTRAINT pk_orders_status_ordes_status_id PRIMARY KEY (order_status_id);


--
-- Name: shipping_company pk_shipping_company; Type: CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.shipping_company
    ADD CONSTRAINT pk_shipping_company PRIMARY KEY (shipping_company_id);


--
-- Name: orders pk_tbl; Type: CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.orders
    ADD CONSTRAINT pk_tbl PRIMARY KEY (order_id);


--
-- Name: orders_status unq_orders_status_ordes_status_id; Type: CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.orders_status
    ADD CONSTRAINT unq_orders_status_ordes_status_id UNIQUE (order_status_id);


--
-- Name: address pk_adress; Type: CONSTRAINT; Schema: partner; Owner: postgres
--

ALTER TABLE ONLY partner.address
    ADD CONSTRAINT pk_adress PRIMARY KEY (address_id);


--
-- Name: bank_details pk_bank_details_bank details_id; Type: CONSTRAINT; Schema: partner; Owner: postgres
--

ALTER TABLE ONLY partner.bank_details
    ADD CONSTRAINT "pk_bank_details_bank details_id" PRIMARY KEY (bank_details_id);


--
-- Name: branch pk_branch; Type: CONSTRAINT; Schema: partner; Owner: postgres
--

ALTER TABLE ONLY partner.branch
    ADD CONSTRAINT pk_branch PRIMARY KEY (branch_id);


--
-- Name: partner pk_partner; Type: CONSTRAINT; Schema: partner; Owner: postgres
--

ALTER TABLE ONLY partner.partner
    ADD CONSTRAINT pk_partner PRIMARY KEY (partner_id);


--
-- Name: style_partner pk_style_partner_style_partner_id; Type: CONSTRAINT; Schema: partner; Owner: postgres
--

ALTER TABLE ONLY partner.style_partner
    ADD CONSTRAINT pk_style_partner_style_partner_id PRIMARY KEY (style_partner_id);


--
-- Name: report_filter pk_report_filter_report_filter_id; Type: CONSTRAINT; Schema: report; Owner: postgres
--

ALTER TABLE ONLY report.report_filter
    ADD CONSTRAINT pk_report_filter_report_filter_id PRIMARY KEY (report_filter_id);


--
-- Name: report pk_table_report_id; Type: CONSTRAINT; Schema: report; Owner: postgres
--

ALTER TABLE ONLY report.report
    ADD CONSTRAINT pk_table_report_id PRIMARY KEY (report_id);


--
-- Name: branch_rating pk_partner_rating; Type: CONSTRAINT; Schema: reputation; Owner: postgres
--

ALTER TABLE ONLY reputation.branch_rating
    ADD CONSTRAINT pk_partner_rating PRIMARY KEY (branch_rating_id);


--
-- Name: rating pk_rating; Type: CONSTRAINT; Schema: reputation; Owner: postgres
--

ALTER TABLE ONLY reputation.rating
    ADD CONSTRAINT pk_rating PRIMARY KEY (rating_id);


--
-- Name: rating_type pk_research; Type: CONSTRAINT; Schema: reputation; Owner: postgres
--

ALTER TABLE ONLY reputation.rating_type
    ADD CONSTRAINT pk_research PRIMARY KEY (rating_type_id);


--
-- Name: interest_rate_setting fk_interest_rate_setting_administrator; Type: FK CONSTRAINT; Schema: administrator; Owner: postgres
--

ALTER TABLE ONLY administrator.interest_rate_setting
    ADD CONSTRAINT fk_interest_rate_setting_administrator FOREIGN KEY (admin_id) REFERENCES administrator.administrator(admin_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: collaborator fk_collaborator_sponsor_user; Type: FK CONSTRAINT; Schema: authentication; Owner: postgres
--

ALTER TABLE ONLY authentication.collaborator
    ADD CONSTRAINT fk_collaborator_sponsor_user FOREIGN KEY (sponsor_id) REFERENCES authentication."user"(user_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: collaborator fk_collaborator_user; Type: FK CONSTRAINT; Schema: authentication; Owner: postgres
--

ALTER TABLE ONLY authentication.collaborator
    ADD CONSTRAINT fk_collaborator_user FOREIGN KEY (user_id) REFERENCES authentication."user"(user_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: otp fk_otp_user_id; Type: FK CONSTRAINT; Schema: authentication; Owner: postgres
--

ALTER TABLE ONLY authentication.otp
    ADD CONSTRAINT fk_otp_user_id FOREIGN KEY (user_id) REFERENCES authentication."user"(user_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: profile fk_profile_user; Type: FK CONSTRAINT; Schema: authentication; Owner: postgres
--

ALTER TABLE ONLY authentication.profile
    ADD CONSTRAINT fk_profile_user FOREIGN KEY (user_id) REFERENCES authentication."user"(user_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user fk_user_role; Type: FK CONSTRAINT; Schema: authentication; Owner: postgres
--

ALTER TABLE ONLY authentication."user"
    ADD CONSTRAINT fk_user_role FOREIGN KEY (role_id) REFERENCES authentication.role(role_id);


--
-- Name: access_token_history access_token_history_fk; Type: FK CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.access_token_history
    ADD CONSTRAINT access_token_history_fk FOREIGN KEY (partner_id) REFERENCES partner.partner(partner_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment_history fk_pagseguro_orders; Type: FK CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment_history
    ADD CONSTRAINT fk_pagseguro_orders FOREIGN KEY (order_id) REFERENCES orders.orders(order_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment_options_local fk_payment_options_local_payment_local; Type: FK CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment_options_local
    ADD CONSTRAINT fk_payment_options_local_payment_local FOREIGN KEY (payment_local_id) REFERENCES billing.payment_local(payment_local_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment_options_local fk_payment_options_local_payment_options; Type: FK CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment_options_local
    ADD CONSTRAINT fk_payment_options_local_payment_options FOREIGN KEY (payment_options_id) REFERENCES billing.payment_options(payment_options_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment fk_payment_orders; Type: FK CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment
    ADD CONSTRAINT fk_payment_orders FOREIGN KEY (order_id) REFERENCES orders.orders(order_id);


--
-- Name: payment fk_payment_payment_options; Type: FK CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment
    ADD CONSTRAINT fk_payment_payment_options FOREIGN KEY (payment_options_id) REFERENCES billing.payment_options(payment_options_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment fk_payment_payment_situation; Type: FK CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.payment
    ADD CONSTRAINT fk_payment_payment_situation FOREIGN KEY (payment_situation_id) REFERENCES billing.payment_situation(payment_situation_id);


--
-- Name: pagseguro_value_minimum pagseguro_value_minimum_fk; Type: FK CONSTRAINT; Schema: billing; Owner: postgres
--

ALTER TABLE ONLY billing.pagseguro_value_minimum
    ADD CONSTRAINT pagseguro_value_minimum_fk FOREIGN KEY (partner_id) REFERENCES partner.partner(partner_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: base_product fk_base_product_administrator; Type: FK CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.base_product
    ADD CONSTRAINT fk_base_product_administrator FOREIGN KEY (admin_id) REFERENCES administrator.administrator(admin_id);


--
-- Name: category_base_product fk_category_base_product; Type: FK CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.category_base_product
    ADD CONSTRAINT fk_category_base_product FOREIGN KEY (category_id) REFERENCES catalog.category(category_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: category_base_product fk_category_base_product_product; Type: FK CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.category_base_product
    ADD CONSTRAINT fk_category_base_product_product FOREIGN KEY (product_id) REFERENCES catalog.base_product(product_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: input fk_input_base_product; Type: FK CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.input
    ADD CONSTRAINT fk_input_base_product FOREIGN KEY (product_id) REFERENCES catalog.base_product(product_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_branch fk_product_branch_branch; Type: FK CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.product_branch
    ADD CONSTRAINT fk_product_branch_branch FOREIGN KEY (branch_id) REFERENCES partner.branch(branch_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_branch fk_product_branch_product; Type: FK CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.product_branch
    ADD CONSTRAINT fk_product_branch_product FOREIGN KEY (product_id) REFERENCES catalog.product(product_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product fk_product_category; Type: FK CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.product
    ADD CONSTRAINT fk_product_category FOREIGN KEY (base_product_id) REFERENCES catalog.base_product(product_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_image_product fk_product_image_product_product; Type: FK CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.product_image_product
    ADD CONSTRAINT fk_product_image_product_product FOREIGN KEY (product_id) REFERENCES catalog.product(product_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_image_product fk_product_image_product_product_image; Type: FK CONSTRAINT; Schema: catalog; Owner: postgres
--

ALTER TABLE ONLY catalog.product_image_product
    ADD CONSTRAINT fk_product_image_product_product_image FOREIGN KEY (product_image_id) REFERENCES catalog.product_image(product_image_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: chat_member fk_chat_member_chat; Type: FK CONSTRAINT; Schema: communication; Owner: postgres
--

ALTER TABLE ONLY communication.chat_member
    ADD CONSTRAINT fk_chat_member_chat FOREIGN KEY (chat_id) REFERENCES communication.chat(chat_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: message fk_message_chat; Type: FK CONSTRAINT; Schema: communication; Owner: postgres
--

ALTER TABLE ONLY communication.message
    ADD CONSTRAINT fk_message_chat FOREIGN KEY (chat_id) REFERENCES communication.chat(chat_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: message fk_message_message_type; Type: FK CONSTRAINT; Schema: communication; Owner: postgres
--

ALTER TABLE ONLY communication.message
    ADD CONSTRAINT fk_message_message_type FOREIGN KEY (message_type) REFERENCES communication.message_type(message_type_id);


--
-- Name: message fk_message_user_sender; Type: FK CONSTRAINT; Schema: communication; Owner: postgres
--

ALTER TABLE ONLY communication.message
    ADD CONSTRAINT fk_message_user_sender FOREIGN KEY (sender_id) REFERENCES authentication."user"(user_id) ON UPDATE SET NULL ON DELETE SET NULL;


--
-- Name: address fk_address_consumer; Type: FK CONSTRAINT; Schema: consumer; Owner: postgres
--

ALTER TABLE ONLY consumer.address
    ADD CONSTRAINT fk_address_consumer FOREIGN KEY (consumer_id) REFERENCES consumer.consumer(consumer_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: card fk_card_consumer; Type: FK CONSTRAINT; Schema: consumer; Owner: postgres
--

ALTER TABLE ONLY consumer.card
    ADD CONSTRAINT fk_card_consumer FOREIGN KEY (consumer_id) REFERENCES consumer.consumer(consumer_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: consumer fk_consumer_address; Type: FK CONSTRAINT; Schema: consumer; Owner: postgres
--

ALTER TABLE ONLY consumer.consumer
    ADD CONSTRAINT fk_consumer_address FOREIGN KEY (default_address) REFERENCES consumer.address(address_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: consumer fk_consumer_user; Type: FK CONSTRAINT; Schema: consumer; Owner: postgres
--

ALTER TABLE ONLY consumer.consumer
    ADD CONSTRAINT fk_consumer_user FOREIGN KEY (user_id) REFERENCES authentication."user"(user_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: actuation_area_shipping fk_actuation_are_shipping_delivery_option; Type: FK CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.actuation_area_shipping
    ADD CONSTRAINT fk_actuation_are_shipping_delivery_option FOREIGN KEY (delivery_option_id) REFERENCES logistics.actuation_area_delivery_option(delivery_option_id);


--
-- Name: actuation_area fk_actuation_area_branch_id; Type: FK CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.actuation_area
    ADD CONSTRAINT fk_actuation_area_branch_id FOREIGN KEY (branch_id) REFERENCES partner.branch(branch_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: actuation_area_config fk_actuation_area_config; Type: FK CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.actuation_area_config
    ADD CONSTRAINT fk_actuation_area_config FOREIGN KEY (actuation_area_id) REFERENCES logistics.actuation_area(actuation_area_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: actuation_area fk_actuation_area_partner; Type: FK CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.actuation_area
    ADD CONSTRAINT fk_actuation_area_partner FOREIGN KEY (partner_id) REFERENCES partner.partner(partner_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: actuation_area_payments fk_actuation_area_payment_id; Type: FK CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.actuation_area_payments
    ADD CONSTRAINT fk_actuation_area_payment_id FOREIGN KEY (payment_options_id) REFERENCES billing.payment_options(payment_options_id);


--
-- Name: actuation_area_payments fk_actuation_area_payments; Type: FK CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.actuation_area_payments
    ADD CONSTRAINT fk_actuation_area_payments FOREIGN KEY (actuation_area_config_id) REFERENCES logistics.actuation_area_config(actuation_area_config_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: actuation_area_shipping fk_actuation_area_shipping_actuation_area_config; Type: FK CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.actuation_area_shipping
    ADD CONSTRAINT fk_actuation_area_shipping_actuation_area_config FOREIGN KEY (actuation_area_config_id) REFERENCES logistics.actuation_area_config(actuation_area_config_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: working_day fk_working_day; Type: FK CONSTRAINT; Schema: logistics; Owner: postgres
--

ALTER TABLE ONLY logistics.working_day
    ADD CONSTRAINT fk_working_day FOREIGN KEY (actuation_area_config_id) REFERENCES logistics.actuation_area_config(actuation_area_config_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_consumer fk_order_address_orders; Type: FK CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.order_consumer
    ADD CONSTRAINT fk_order_address_orders FOREIGN KEY (order_id) REFERENCES orders.orders(order_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_branch fk_order_branch_orders; Type: FK CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.order_branch
    ADD CONSTRAINT fk_order_branch_orders FOREIGN KEY (order_id) REFERENCES orders.orders(order_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_shipping fk_order_shipping_orders; Type: FK CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.order_shipping
    ADD CONSTRAINT fk_order_shipping_orders FOREIGN KEY (order_id) REFERENCES orders.orders(order_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders_itens fk_orders_itens_orders; Type: FK CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.orders_itens
    ADD CONSTRAINT fk_orders_itens_orders FOREIGN KEY (order_id) REFERENCES orders.orders(order_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders_itens fk_orders_itens_product; Type: FK CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.orders_itens
    ADD CONSTRAINT fk_orders_itens_product FOREIGN KEY (product_id) REFERENCES catalog.product(product_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders fk_orders_orders_status; Type: FK CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.orders
    ADD CONSTRAINT fk_orders_orders_status FOREIGN KEY (order_status_id) REFERENCES orders.orders_status(order_status_id);


--
-- Name: orders fk_orders_shipping_company; Type: FK CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.orders
    ADD CONSTRAINT fk_orders_shipping_company FOREIGN KEY (shipping_company_id) REFERENCES orders.shipping_company(shipping_company_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders_status_history fk_orders_status_history_orders; Type: FK CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.orders_status_history
    ADD CONSTRAINT fk_orders_status_history_orders FOREIGN KEY (order_id) REFERENCES orders.orders(order_id);


--
-- Name: orders_status_history fk_orders_status_history_orders_status; Type: FK CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.orders_status_history
    ADD CONSTRAINT fk_orders_status_history_orders_status FOREIGN KEY (order_status_id) REFERENCES orders.orders_status(order_status_id);


--
-- Name: shipping_company fk_shipping_company_address; Type: FK CONSTRAINT; Schema: orders; Owner: postgres
--

ALTER TABLE ONLY orders.shipping_company
    ADD CONSTRAINT fk_shipping_company_address FOREIGN KEY (address_id) REFERENCES orders.address(address_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: address fk_address_branch; Type: FK CONSTRAINT; Schema: partner; Owner: postgres
--

ALTER TABLE ONLY partner.address
    ADD CONSTRAINT fk_address_branch FOREIGN KEY (branch_id) REFERENCES partner.branch(branch_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: bank_details fk_bank_details_partner; Type: FK CONSTRAINT; Schema: partner; Owner: postgres
--

ALTER TABLE ONLY partner.bank_details
    ADD CONSTRAINT fk_bank_details_partner FOREIGN KEY (partner_id) REFERENCES partner.partner(partner_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: branch fk_branch_partner; Type: FK CONSTRAINT; Schema: partner; Owner: postgres
--

ALTER TABLE ONLY partner.branch
    ADD CONSTRAINT fk_branch_partner FOREIGN KEY (partner_id) REFERENCES partner.partner(partner_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: partner fk_partner_administrator; Type: FK CONSTRAINT; Schema: partner; Owner: postgres
--

ALTER TABLE ONLY partner.partner
    ADD CONSTRAINT fk_partner_administrator FOREIGN KEY (admin_id) REFERENCES administrator.administrator(admin_id);


--
-- Name: partner fk_partner_user; Type: FK CONSTRAINT; Schema: partner; Owner: postgres
--

ALTER TABLE ONLY partner.partner
    ADD CONSTRAINT fk_partner_user FOREIGN KEY (user_id) REFERENCES authentication."user"(user_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: style_partner fk_style_partner_administrator; Type: FK CONSTRAINT; Schema: partner; Owner: postgres
--

ALTER TABLE ONLY partner.style_partner
    ADD CONSTRAINT fk_style_partner_administrator FOREIGN KEY (admin_id) REFERENCES administrator.administrator(admin_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: report_filter fk_report_filter_report; Type: FK CONSTRAINT; Schema: report; Owner: postgres
--

ALTER TABLE ONLY report.report_filter
    ADD CONSTRAINT fk_report_filter_report FOREIGN KEY (report_id) REFERENCES report.report(report_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: branch_rating branch_rating_branch_fk; Type: FK CONSTRAINT; Schema: reputation; Owner: postgres
--

ALTER TABLE ONLY reputation.branch_rating
    ADD CONSTRAINT branch_rating_branch_fk FOREIGN KEY (branch_id) REFERENCES partner.branch(branch_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rating fk_rating_rating_type; Type: FK CONSTRAINT; Schema: reputation; Owner: postgres
--

ALTER TABLE ONLY reputation.rating
    ADD CONSTRAINT fk_rating_rating_type FOREIGN KEY (rating_type_id) REFERENCES reputation.rating_type(rating_type_id) ON UPDATE CASCADE;


--
-- Name: rating fk_rating_user; Type: FK CONSTRAINT; Schema: reputation; Owner: postgres
--

ALTER TABLE ONLY reputation.rating
    ADD CONSTRAINT fk_rating_user FOREIGN KEY (user_id) REFERENCES authentication."user"(user_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: branch_rating rating_branch_rating_fk; Type: FK CONSTRAINT; Schema: reputation; Owner: postgres
--

ALTER TABLE ONLY reputation.branch_rating
    ADD CONSTRAINT rating_branch_rating_fk FOREIGN KEY (rating_id) REFERENCES reputation.rating(rating_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict J7QbzAq3f0qaDRln72wN7VcjqBtxGZXXLZJ5pPowFBwnu0XDAVGJ2tciYwS2GZc

